/* color palette from <https://github.com/vuejs/theme> */
:root {
  --whiteBase: #fff;
  --blackBase: #000;

  --primary-color: #5C2A91;
  --secondary-color: #7A3CBB;
  --accent-color: #9A57D1;

  --heading-color: #D0A3E2;
  --link-color: #74B9FF;
  --hover-color: #8E4BBF;

  --color-text: #F1F1F1;
  --color-background: #121212;
  --card-background: #2C2C2C;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
